<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2>Mikä ihmeen hackathon?</h2>
              <p>Hackathon on tiivis, mutta vapaamuotoinen tapahtuma, jossa puuhastellaan teknologian parissa ja pidetään hauskaa. Kokeilemme, tutkimme ja rakennamme itseämme kiinnostavia juttuja. Jokaiselle on tarjolla juuri omaan osaamiseen ja mielenkiintoon sopivaa tekemistä. Voit mm. visioida uutta ja ihmeellistä, ohjastaa robotteja, koodata, 3D-tulostaa, juottaa ja koota elektroniikkaa tai uppoutua virtuaalimaailmaan.</p>
              <p>Tarjoamme ilmaisen ruoan, tarvikkeet ja huolehdimme, että kaikki viihtyvät.</p>
              <p><b>Ihminen 2.0 on avoin ja ilmainen hackathon lauantaina 25.3.2017.</b> Se on aloittelijaystävällinen ja rento tapahtuma. Aiheena on teknologia. Tule kokeilemaan, oppimaan ja tekemään yhdessä. Teemoina mm. itsensä mittaaminen, puettava elektroniikka, robotit, virtuaalitodellisuus ja laajennettu todellisuus, sekä paljon muuta mielenkiintoista. Sinun ei tarvitse osata näitä asioita entuudestaan, tarjoamme kursseja ennen tapahtumaa sekä opastusta tapahtuman aikana. Tarvitset mukaan avoimen ja uteliaan mielen – sekä mieluusti läppärin. Hackathon pidetään Mikkelin Työttömät ry tiloissa (Porrassalmenkatu 1).</p>
              <p><b>Osana Ihminen 2.0 kokonaisuutta tarjoamme ilmaisia ja avoimia kursseja.</b> Ne alkavat lauantaina 18.2 ja jatkuvat jokaisen viikon lauantai tapahtumaan (25.3) saakka. Yksi sessio kestää muutaman tunnin. Voit osallistua yhdelle kurssille tai vaikka kaikkiin. Kurssit pidetään Hacklab Mikkelin tiloissa (Pietarinkatu 23 E 22). Varustuksena toimii niin ikään avoin ja utelias mieli. Jos sinulla on läppäri, se kannattaa ottaa mukana ihan varalle.</p>
              <p>Tiedotamme kaiken oleellisen tämän sivun kautta, mutta tiedotamme myös sähköpostitse jo ilmoittautuneille. Ilmoittautua kannattaa kuitenkin mahdollisimman pian, sillä paikkoja on rajoitetusti.</p>
              <p>Tapahtuman järjestävät yhdessä Mikkelin Työttömät ry sekä Hacklab Mikkeli ry.</p>
            </div>
        </div>
    </div>
</section>