  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
            <h2 class="section-heading">Kiinnostuitko? Ilmoittaudu mukaan. Jos et vielä ihan tiedä mistä on kyse, mukaan tuleminen on helppo tapa selvittää.</h2>
            <hr class="light">
            <p class="text-faded">Miltä kuulostaa? Hackathoniin kannattaa tulla, se on avoin ja ilmainen - ja tarkoitettu kaikille. Ennen tapahtumaa olevilla kursseilla on mahdollisuus oppia pohjatietoa ja treenata vähän. Koko homman ideana on oppia pitämällä hauskaa ja kokeilemalla.</p>
            <a href="http://bit.do/ihminen2" class="btn btn-default btn-xl">Tästä voi ilmoittautua</a>
          </div>
      </div>
  </aside>
