<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kysyttävää tapahtumasta? Soita tai lähetä sähköpostia.</h2>
                <hr class="primary">
                <p>Tapahtuman järjestävät yhteistuumin Hacklab Mikkeli ry ja Mikkelin Työttömät ry</p>
                <h3>Hacklab Mikkeli ry</h3>
                <p>Mikko Lampi<br/>
                050 494 9062<br/>
                hallitus@mikkeli.hacklab.fi</p>
                <h3>Mikkelin Työttömät ry</h3>
                <p>Heikki Pyrhönen<br/>
                044 722 0502<br/>
                toimisto@mikkelintyottomat.fi
                </p>
                <div class="row">
                  <div class="col-md-6">
                    <a href="http://mikkeli.hacklab.fi/" >
                      <img src="img/hacklab_logo.png" class="logo img-responsive center-block" />
                    </a>
                  </div>
                  <div class="col-md-6">
                    <a href="http://www.mikkelintyottomat.fi/" >
                      <img src="img/mikkelintyottomat_logo.png" class="logo img-responsive center-block" />
                    </a>
                  </div>
                </div>
            </div>
    </div>
</section>
