<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Ihminen 2.0: hackathon ihmisille</h1>
            <hr>
            <p>Ihminen 2.0 on hackathon uteliaille ja kokeilunhaluisille ihmisille, eli meille kaikille. Se on aloittelijaystävällinen ja rento tapahtuma, jossa tutkiskelemme ja kokeilemme teknologiaa, rakennamme yhdessä siistejä juttuja ja opimme tekemällä.</p>
            <p><b>Hackathon 25.3.2017</b>, Porrassalmenkatu 1 (Mikkelin Työttömät ry) | <b>Kursseja ennen tapahtumaa lauantaisin</b>, Pietarinkatu 23 E 22 (Hacklab Mikkeli ry)</p>
            <a href="http://bit.do/ihminen2" target="_blank" class="btn btn-primary btn-xl">Ilmoittaudu mukaan</a>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Lue lisää</a>
            <br /><br />
            <p><b>Ilmoittautumine päättyy sunnuntaina 19.3.2017 klo 24.00.</b></p>
        </div>
    </div>
</header>