<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Ihminen 2.0: hackathon ihmisille</h1>
            <hr>
            <p>Hackathon lauantaina 25.3.2017, Porrassalmenkatu 1 (Mikkelin Työttömät ry) | Kursseja ennen tapahtumaa lauantaisin Hacklab Mikkelin tiloissa.</p>
            <p>Ihminen 2.0 on hackathon uteliaille ja kokeilunhaluisille ihmisille, eli meille kaikille. Se on aloittelijaystävällinen ja rento tapahtuma, jossa tutkiskelemme ja kokeilemme teknologiaa, rakennamme yhdessä siistejä juttuja ja opimme tekemällä.</p>
            <a href="http://bit.do/ihminen2" target="_blank" class="btn btn-primary btn-xl">Ilmoittaudu mukaan</a>
            <a href="#about" class="btn btn-xl page-scroll">Lue lisää</a>
        </div>
    </div>
</header>