<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2>Hackathon ohjelma</h2>
              <p>Tapahtuma järjestetään lauantaina 25.3.2017. Aloitamme n. klo 11 ja lopetamme n. klo 21.</p>
              <p>Tarkka ohjelma julkaistaan täällä helmikuun aikana</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2>Kurssit</h2>
            <p>Kursseja järjestetään ennen tapahtumaa lauantaisin alkaen 18.2.</p>
            <p><b>Helmikuun kurssien aikataulu päivitetään viikonlopun (11-12.2) aikana.</b></p>
            <h3>Rakentelu 1: Elektroniikan perusteet</h3>
            <p>Lauantaina 18.2 ja 25.2</p>
            <p>Aloitamme ihan alkeista. Opit mm. miten sähkö toimii. Mitä ovat yleisimmät komponentit ja mitä niillä tehdään. Tutkimme lisäksi miten kytkentäkaavioita luetaan, ja kuinka kolvia käytetään. Teemme muutamia perusmittauksia ja opimme rakentelua tekemällä ja kokeilemalla. Kokeneet voivat aloittaa tutustumalla erilaisiin sensoreihin ja komponentteihin. Tarjoamme opittavaa ja tutkittavaa kaikentasoisille.</p>
            <h3>Rakentelu 2: Sensoreita, koodaamista ja Arduinon perusteet</h3>
            <p>Lauantaina 4.3 ja 11.3</p>
            <p>Arduino on yleiskäyttöinen ja edullinen mikro-ohjain. Se on yleensä harrasteprojektien ydin. Kerromme perusteet Arduinosta, ja rakennamme erilaisia miniprojekteja sillä. Luvassa on pientä koodattavaa ja sensorien, LED-valojen yms. parissa puuhastelua. Aloitamme ihan alkeista, mutta tarjoamme konkareillekin tekemistä.</p>
            <h3>Virtuaalitodellisuus</h3>
            <p>Lauantaina 18.3</p>
            <p>Pikakurssi virtuaalitodellisuuteen. Saat ensimakua siitä, mikä on mahdollista ja miten voit luoda omaa virtuaalitodellisuutta. Tutustumme sekä tekniikkaan että siisteihin sisältöihin.</p>
            </div>
        </div>
    </div>
</section>