<section id="themes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Teemat</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gear wow bounceIn text-primary"></i>
                    <h3>Elektroniikkaa vasta-alkajille</h3>
                    <p class="text-muted">Elektroniikan ja rakentelun aloittaminen ei voisi olla tämän helpompaa. Tarjolla on mielenkiintoisia projekteja kaikille kiinnostuneille lähtötiedoista ja kokemuksesta riippumatta. Voit rakentaa vaikkapa puhelimella luettavan sisäilmamittarin tai liikkeeseen reagoivan yövalon, tai ihan mitä mieleen tulee. Tarjoamme tarvikkeet ja opastusta.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary"></i>
                    <h3>Puettava elektroniikka ja itsensä mittaaminen</h3>
                    <p class="text-muted">Oletk kiinnostunut hyvinvoinnista, tai muuten vain tietämään enemmän oman kehosi toiminnasta? Rakenna oma aktiivisuusmittari, mittaa stressitasoasi, rakenna jotakin arkeasi helpottavaa tai vaikka ihan älytöntä. Miltä kuulostaisi pyöräilypaita, jossa on suuntavilkut selässä? Entä vyö, joka mittaa kävelynopeutta ja kiihtyvyyttä?</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-eye wow bounceIn text-primary"></i>
                    <h3>Virtuaalitodellisuus ja laajennettu todellisuus</h3>
                    <p class="text-muted">Tarjoamme kokeiltavaksi älypuhelimella toimivia virtuaalilaseja. Pääset myös tekemään sovelluksia sille. Voit yhdistellä vaikkapa kehon mittaustietoa ja näyttää sitä virtuaalitodellisuudessa. Laajennettu todellisuus tuo tietokoneella tehtyä grafiikka todellisuuden lisäksi. Voit myös käyttää kehoasi ohjaamaan robotteja tai aistimaan niiden kautta. Haluaisitko, nähdä maailman robotin silmin tai ohjata tietokonetta ilman kosketusta?</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-android fa-heart wow bounceIn text-primary"></i>
                    <h3>Robotiikka</h3>
                    <p class="text-muted">Rakenna oma robotti. Se voi olla pyörillä liikkuva tutkimusmatkailija tai ihan jotakin muuta. Robotilla voi ajaa kilpaa, lisätä sille aisteja tai kikkailla ihan vaan huvikseen. Robotti voi tehdä myös hyödyllisiä asioita. Visioi siistejä juttuja, ja me autamme toteuttamaan ne.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <h2 class="section-heading">Ohjeita ja inspiraation lähteitä</h2>
                <h3>Varustelista</h3>
                <a href="https://docs.google.com/document/d/1xv782L71ZO3LuvTblP4CbMlRiA5z8dP2Yv0PbPNA37E/edit?usp=sharing" target="_blank">Tarvikkeet ja komponentit löydät täältä</a>
                
                <br />
                <h3>Suositeltuja ohjelmia ja sivustoja</h3>
                <a href="https://www.arduino.cc/en/main/software" target="_blank">Arduinon ja muiden mikro-ohjainten ohjelmointiympäristö</a><br />
                <a href="https://store.unity.com/" target="_blank">Virtuaalitodellisuuden ja pelien kehitysympäristö</a><br />
                <a href="https://www.blender.org/" target="_blank">3D-mallinnus</a><br />
                <a href="http://code.visualstudio.com/" target="_blank">Muuhun ohjelmointiin ja verkkosivujen koodaamiseen</a><br />
                <a href="https://www.gimp.org/" target="_blank">Grafiikan tekemiseen</a>

                <br />
                <h3>Inspiraation lähteitä</h3>
                <a href="http://www.instructables.com/" target="_blank">http://www.instructables.com/</a><br />
                <a href="https://hackaday.io/lists" target="_blank">https://hackaday.io/lists</a><br />
                <a href="https://fi.pinterest.com/explore/diy-electronic-projects/" target="_blank">https://fi.pinterest.com/explore/diy-electronic-projects/</a><br />
                <a href="http://www.thingiverse.com/" target="_blank">Valmiita 3D-tulostettavia malleja</a><br />

                <br />
                <h3>Esimerkkiprojekteja</h3>
                <a href="https://docs.google.com/document/d/1D9ur3VGneEbyif9WEbs4DIbTDI2ibo3-6_KGf0HZVqQ/edit?usp=sharing" target="_blank">Täältä löydä muutamia esimerkkejä</a><br/>
            </div>
        </div>
    </div>
</section>
